<title>Update screen</title>

<%= form_with(model: @screen, url: update_screen_path) do |f| %>
    <div style="padding-left: 50px; padding-right: 50px; ">
        <div class="form-group">
            <%= f.label :name, "Name" %>
            <%= f.text_field :name, class:"form-control", placeholder: "Name"%>
        </div>
    </div>
    <div style="padding-top: 8px;"></div>
    <div class="cata-border-add-x"></div>
    <div style="padding-left: 5%; padding-bottom: 20px;float: left;">
        <%= f.submit "Save", class: "btn btn-success btn-sm", style:"width: 50px" %>
    </div>
<% end %>
<div style="padding-left: 1%; padding-bottom: 20px; display: inline;">
<%= link_to screens_path do %>	
    <button type="button" class="btn btn-secondary btn-sm"> Close</button>	
<% end -%>	
</div>