<title>Chon ghe</title>

<h2> Hãy chọn chỗ ngồi cho xuất chiếu </h2>
<b><%= @show.get_movie.name %> </b>
<span style="margin-left: 20px;">  Thời gian: </span>
<b><%= @show.date.strftime("%d/%m")%></b>
<b><%= ':' + @show.start_time + ' - ' %></b>
<b><%= @show.end_time %></b><span style="margin-left: 20px;">  Phòng chiếu: </span>
<b><%= @show.screen_id %></b>
<button style="margin-left: 30%", class="btn btn-info" type="submit"> 
  <%= link_to movie_path(@show.get_movie.id) do %> 
      <span> Quay lai </span>
  <% end %>
</button>
<hr>

  <div class="seatStructure">
    <center>
      <p id="notification"></p>
      <div class="screen"><h2 style="text-align:center; border-bottom: 8px solid gray; width:40%;">Screen</h2></div>
      
      <div class="fuselage">
        <table id="seatsBlock" onclick="cap_nhat_luu_ghe()">
          <tr>
            <td></td>
             
            <% @seats.maximum("seat_number").times do |z| %>
              <td><span><%= z+1 %></span> </td>
            <% end %>
            <% @seats.maximum("row").times do |a| %> 
              <tr>
                <td>
                  <span style="margin-left: 1px;"><%= (a+65).chr %></span>
                </td>
              <% @seats.each do |x| %>
                  <% if x.row == a +1 %>
                    <% if x.id.in?(@seat_reserveds_ids) %>
                      <td><span class="reddog"><input type="checkbox" disabled class="seats" value="" data-price="0"> </td>
                    <% else %>
                      <td><input type="checkbox" class="seats" value="<%= (a+65).chr %><%= x.seat_number.to_s %>" data-price="<%= x.price %>" data-seatid="<%= x.id%>"></td>    
                    <% end %>
                  <% end %>
              <% end -%>
              </tr>
            <% end -%>

          </tr>
        </table>
      </div>
    
    <center>
      <span class="reddog1"><input type="checkbox" disabled > <span style="margin-left: 5px;">Ghế có người đã đặt |</span></span>
      <span style="margin-left: 10px;" class="reddog3"><input type="checkbox" disabled ><span style="margin-left: 5px;"> Ghế có thể đặt |</span></span>
      <span style="margin-left: 10px;" class="reddog2"><input type="checkbox" disabled ><span style="margin-left: 5px;"> Ghế bạn chọn </span></span>
    </center><br>
  </center>
</div>

<div class="displayerBoxes">
  <center>
    <table class="Displaytable">
      <tr>
        <td><b>Các ghế đã đặt: </b></td>
        <td><input type="lable" disabled id="seatsDisplay"> </td>
      </tr>
      <tr><td><b>Tổng thanh toán là: </b></td><td><input type="lable" disabled id="priceAllSeat"> <td> </tr>
    </table>
  </center>
</div>

<center><span>
  <span id="xacnhan" style="display: none;" ><%= link_to "Xác nhận", booking_ticket_path(@show.id) , class:"btn btn-confirm" %>
  <button onclick="tai_lai_trang()" class="btn btn-confirm" >Hủy lưu </button> <span>
</span> <center>

<script type="text/javascript">
function tai_lai_trang(){
  location.reload();
}

function onLoaderFunc(){
  $(".reddog *").prop("disabled", true);
}

function cap_nhat_luu_ghe(){ 
  if ($("input:checked").length >0)
  {
    var sumSeatPrice = 0;
    var allNumberVals = [];
    var allSeatsVals = [];
    var allSeatsIds = [];

    allNumberVals.push();
    $('#seatsBlock :checked').each(function() {
      allSeatsVals.push($(this).val());
      allSeatsIds.push($(this).data("seatid"));
      sumSeatPrice += $(this).data('price') ; 
    });

    $('#seatsDisplay').val(allSeatsVals);
    $('#priceAllSeat').val(sumSeatPrice + ".000 Vnd");

    localStorage.setItem("all_number_seat", $("input:checked").length);
    localStorage.setItem("total_price", sumSeatPrice);
    localStorage.setItem("list_seats", allSeatsVals);
    localStorage.setItem("list_seat_ids", allSeatsIds);
    
    var x = document.getElementById("xacnhan");
    if (x.style.display == "none" ) {
      x.style.display = "block";
    } else{
      x.style.disabled = "none";
    }
  }
  else
    {
      location.reload();
    }
  
}
</script>


