<tr>
   <td>
      <%= link_to user.name, user %>  -Email: <%= user.email %>  -SDT: <%= user.phonenum %> -BirthDay: <%= user.day %>/  <%= user.month %>/ <%= user.year %> 
   </td>
   <td>
      <% if current_user.admin? && !current_user?(user) %>
         <%= link_to user, method: :delete, data: { confirm: "You sure?" } do %>
            <button type="button" class="btn btn-danger btn-sm"><i class="fas fa-times"></i> Delete</button>
         <% end %>
      <% end %>
   </td>
</tr> 
