<title><%= @user.name %></title>
 
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @user.phonenum %>
</p>
<p><strong> City:</strong>
<%= @user.city%>
</p>
<p>
  <strong>Favorite Cinema:</strong>
  <%= @user.favorite_cinema %>
</p>
<p>
  <strong>Birthday:</strong>
  <%= @user.day %>/<%= @user.month %>/<%= @user.year %>
</p>

<p> 
<strong>Giới tính:</strong>
<% if @user.sex %>Nam 
<% else %> Nữ 
<% end %>
</p>

