<title>Movies</title>

<br>
<div id="slideshow">
  <div class="slide-wrapper">
    <div class="slide"><img style=" height: 448px; width: 980px" src="https://files.betacorp.vn/files/ecm/2022/04/27/art-khoi-chieu-doctor-strange-1702-x-621-160049-270422-76.jpg"></div>
    <div class="slide"><img style=" height: 448px; width: 980px" src="https://files.betacorp.vn/files/ecm/2022/04/28/dat-ve-phim-hay-tren-vnpay-1702x621-110049-280422-46.jpg"></div>
    <div class="slide"><img style=" height: 448px; width: 980px" src="https://files.betacorp.vn/files/ecm/2021/07/17/300621-nhuong-quyen-1702x621-01-1-182121-020721-85-161350-170721-45.jpg"></div>
  </div>
</div>

<!-- search-->
<div class="search-wrapper">
    <div class="input-holder">
        <!--<input type="text" class="search-input" placeholder="Type to search" />-->
        <%= search_form_for @q, url: :movie_index2 do |f| %>
          <%= f.search_field :name_cont , class:"search-input", placeholder:"Search by movie name" %>
          <button class="search-icon" onclick="searchToggle(this, event);"><span></span></button>
        <% end %> 
        
    </div>
    <span class="close" onclick="searchToggle(this, event);"></span>
</div>

<br>
<h1 style="margin-left: 10px;display: inline;" >Phim Đang Chiếu</h1>
<%= link_to new_movie_path do %>
  <button style="float:right;margin-right: 30px ;" type="button" class="btn btn-success btn-sm"><i class="fas fa-plus"></i> Add New Movie</button>
<% end -%>
<div style="border-bottom: 4px solid black; border-width:80%;">
</div><br>

<% @movies.each do |movie| %>
    <div class="movie_poster">
    <img src="<%= movie.image_link %>" class="img-thumbnail" >
    <li class="product-name"><%= link_to movie.name, movie %></li>    
    <li><strong>Thời lượng: </strong><%= movie.time %>   </li>
    <li><strong>Khởi chiếu: </strong><%= movie.release %>   </li>
    <li><strong>Thể loại: <strong><%= movie.genre.name %> </li>
    <li>
    <% if current_user.admin == true %>
        <%= link_to edit_movie_path(movie) do %>
          <button type="button" class="btn btn-warning btn-sm"><i class="fas fa-pencil-alt"></i> Edit</button>
        <% end %> 
        <%= link_to movie, method: :delete, data: { confirm: "You sure?" } do %> 
          <button type="button" class="btn btn-danger btn-sm"><i class="fas fa-times"></i> Delete</button>
        <% end %>
    <% end %> 
    </li>
    <br>
    </div>
<% end %>
<div style="clear:left">
<%= pagy_bootstrap_nav(@pagy).html_safe %>
</div>
