<title><%= @movie.name %> </title>
<br>
<p class= "movie_poster">
  <img src="<%= @movie.image_link %>", class="img-thumbnail">
</p>

<h2>
<strong>
  <%= @movie.title %>
</strong></h2><hr>
<p>
  <strong>Tên:</strong>
  <%= @movie.name %>
</p>

<p>
  <strong>Diễn viên:</strong>
  <%= @movie.cast %>
</p>
<p>
  <strong>Thể loại:</strong>
  <!--<%= @movie.genre_id %>-->
  <% @genre.each do |a| %>
    <%= a.name%>
  <% end %>
</p>
<p>
  <strong>Thời lượng:</strong>
  <%= @movie.time %>
</p>
<p>
  <strong>Khởi chiếu:</strong>
  <%= @movie.release %>
</p>
<p>
  <strong>Mô tả:</strong>
  <%= @movie.description %>
</p>

<button onclick="myFunction()">Xem lich chieu</button> 

<div id="order" style="display: none;">
  <%= render 'movie/order' %>
  <button onclick="myFunction()">Close</button> 
</div>
<script>
function myFunction() {
  var x = document.getElementById("order");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
</script>

<p style="clear:left; float:right;">
  <%= link_to 'Quay lại', movie_index_path %>
<p>