<div class="header">
    <div class="header-top">
        <ul >
            <li><a href="#">tuyển dụng</a></li>
            <li><a href="#">Tin mới & Ưu đãi</a></li>
            
            <% if logged_in? %>            
                <!--<li><%= link_to "Settings", edit_user_path(current_user) %></li>-->
                <li><%= link_to "Vé Của Tôi",booking_tickets_index_path %></li>
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "thoát", logout_path, method: :delete %></li>
			<% else %>
                <li><%= link_to "đăng nhập/đăng ký", sessions_new_path %></li>
            <% end %>

            <li><a href="#" id="VNese">VN</a><a href="#" id="EN">EN</a></li>
        </ul>
    </div>
    <div class="header-main">
        <div class="menu-header">
            <ul class="parent">
                 <li>
                   <a href="/"><img alt="" style="height: 55px; margin-top: 20px" src="https://betacinemas.vn/Assets/Common/logo/logo.png"></a>
                </li>
                <li style= "margin-top: 40px;">
                    <div class="dropdown">phim
                        <div class="dropdown-content">
                            <a href="/">Phim đang chiếu</a>
                            <a href="#">Phim sắp chiếu</a>
                        </div>
                    </div>
                </li> 
                <li style= "margin-top: 40px;">
                    <div class="dropdown">
                        rạp cgv
                        <div class="dropdown-content">
                            <a href="#">Tất cả các rạp</a>
                            <a href="#">Rạp đặc biệt</a> 
                            <a href="#">Rạp sắp mở </a>
                        </div>
                    </div>
                </li>               
                <li style= "margin-top: 40px;">
                    <div class="dropdown">
                        thành viên
                        <div class="dropdown-content">
                            <a href="#">Tài khoản CGV </a>
                            <a href="#">Quyền lợi</a> 
                        </div>
                    </div>
                </li>
                <li style= "margin-top: 40px;">
                    <div class="dropdown">
                        cultureplex
                        <div class="dropdown-content">
                            <a href="#" >Quầy online
                            <a href="#" >Sự kiện & Vé nhóm</a>
                            <a href="#" >E-Beta</a>
                            <a href="#" >Beta Restaurant</a>
                            <a href="#" >Thẻ quà tặng</a>
                        </div>
                    </div>
                </li>
                <li style= "margin-top: 40px;"> 
                    <div class="dropdown">
                        nhượng quyền 
                        <div class="dropdown-content">
                            <a href="#">TẠI SAO CHỌN BETA CINEMAS? </a>
                            <a href="#">QUYỀN LỢI CỦA ĐỐI TÁC</a> 
                            <a href="#">QUY TRÌNH THAM GIA</a> 
                        </div>
                    </div>
                    </li>
                <li style="margin-button:10px;">
                    <a href="#" ><img alt="kênh Cine" style="margin-top:28px" src="https://www.cgv.vn/media/wysiwyg/2019/AUG/kenhcine.gif"></a>
                    
                    <!--#<a href="#"><img alt="" src="https://www.cgv.vn/media/wysiwyg/news-offers/mua-ve_ngay.png"></a>-->
                </li>
                
            </ul>
        </div>
    </div>
</div>
<center>  
<% if logged_in? && current_user.admin == true %> 
    <ul class="admin-ui">
        <li><%= link_to "Quản lý khách hàng", users_index_path %></li>
        <li><%= link_to "Quản lý Phim", movie_index2_path %></li>
        <li><%= link_to "Quản lý xuất chiếu", shows_index_path %></li>
        <li><%= link_to "Quản lý thể loại", genre_index_path %></li>
        <li><%= link_to "Quản lý phòng chiếu", screens_path %></li>
        <li><%= link_to "Quản lý vé", ticket_list_path %></li>
    </ul>
<% end %>  
</center>

<style type="text/css">
    .admin-ui li {
        display: inline-flex;
        justify-content: center;
        background: linear-gradient(#2a7189, #4fabc9);
        padding: 15px;
        margin: 5px;
    }
    .admin-ui a {
        color:  #ffffff;
        font-size: 15px;
        font-weight: 600;
    }
    .admin-ui a:hover {
        text-decoration: none;
        font-weight: 900;
        font-size: 17px;
    }
</style>
<script>
function searchToggle(obj, evt){
    var container = $(obj).closest('.search-wrapper');
        if(!container.hasClass('active')){
            container.addClass('active');
            evt.preventDefault();
        }
        else if(container.hasClass('active') && $(obj).closest('.input-holder').length == 0){
            container.removeClass('active');
            // clear input
            container.find('.search-input').val('');
        }
}
</script>
