<div class="header">
    <div class="header-top">
        <ul >
            <li><a href="#">tuyển dụng</a></li>
            <li><a href="#">Tin mới & Ưu đãi</a></li>
            <li><a href="#">Vé Của Tôi </li>
            
            <% if logged_in? %>
				<!--<li><%= link_to "Users", users_path %></li>-->
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li><%= link_to "Log out", logout_path, method: :delete %></li>
			<% else %>
                <li><%= link_to "đăng nhập/đăng ký", sessions_new_path %></li>
            <% end %>

            <li><a href="#" id="VNese">VN</a><a href="#" id="EN">EN</a></li>
        </ul>
    </div>
    <div class="header-main">
        <div class="menu-header">
            <ul class="parent">
                 <li>
                   <a href="/" class="logo"><img src="https://www.cgv.vn/skin/frontend/cgv/default/images/cgvlogo.png"></a>
                </li>
                <li style= "margin-top: 40px;">
                    <div class="dropdown">
                            phim
                        <div class="dropdown-content">
                            <a href="#">Phim đang chiếu</a>
                            <a href="#">Phim sắp chiếu</a>
                        </div>
                    </div>
                </li>
                <li style= "margin-top: 40px;">
                    <div class="dropdown">
                        rạp cgv
                        <div class="dropdown-content">
                            <a href="#">Tất cả các rạp</a>
                            <a href="#">Rạp đặc biệt</a> 
                            <a href="#">Rạp sắp mở </a>
                        </div>
                    </div>
                </li>               
                <li style= "margin-top: 40px;">
                    <div class="dropdown">
                        thành viên
                        <div class="dropdown-content">
                            <a href="#">Tài khoản CGV </a>
                            <a href="#">Quyền lợi</a> 
                        </div>
                    </div>
                </li>
                <li style= "margin-top: 40px;">
                    <div class="dropdown">
                        cultureplex
                        <div class="dropdown-content">
                            <a href="#" >Quầy online
                            <a href="#" >Sự kiện & Vé nhóm</a>
                            <a href="#" >E-CGV</a>
                            <a href="#" >CGV Restaurant</a>
                            <a href="#" >Thẻ quà tặng</a>
                        </div>
                    </div>
                </li>

                <li style="margin-button:10px;">
                    <a href="#" ><img alt="kênh Cine" src="https://www.cgv.vn/media/wysiwyg/2019/AUG/kenhcine.gif"></a>
                    <a href="#"><img alt="" src="https://www.cgv.vn/media/wysiwyg/news-offers/mua-ve_ngay.png"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
